
body{
 background-color: #F2F2F2;
 width: 1400px;
 height: 3843px;
}
a{
 cursor: pointer;
}
.icon{
 width: 30.16px;
 height: 30px;
}
.Productly-img{
 height: 28.97px;
 width: 143.12px;
 margin-left: 2px;
}

.navbar{
 width: 1400px;
 height: 78px;
 margin-top: 20px;
 padding: 0px 0px 0px 0px;
 display: flex;
 justify-content: space-between;
}
.div-logo{
 width: 185.34px;
 height: 31.97px;
 margin-left: 143.92px;
 align-self: center;
}
ul{
 width: fit-content;
 height: fit-content;
 list-style: none;
 margin-left: 320.73px;
 margin-right: 29px;
 align-self: center;
}
li{
 display: inline;
 float: left;
}
li a {
 color: #2F281E;
 font-family: 'Poppins', sans-serif;
 font-size: 14px;
 font-weight: normal;
 letter-spacing: 0px;
 line-height: 28;
 text-decoration: none;
 padding: 0px 5px;
}
.button-div{
 width: fit-content;
 height: fit-content;
 margin-right: 145px;
 margin-top: 15px;
}

.in-button{
 height: 46px;
 width: 102px;
 background-color: white;
 border-radius: 4px;
 border-color: #BCD0E5;
 border-style: solid;
 text-align: center;
 color: #173A56;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 0px;
 line-height: 0px;
 margin-right: 14px;
 cursor: pointer;
 transition: background-color 0.15s,
 color 0.15s;
}
.in-button:hover {
 background-color: #4f697e;
 color: white;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.in-button:active{
 opacity: 0.7;
}
.up-button{
 height: 46px;
 width: 110px;
 background-color: #FF9900;
 border-radius: 4px;
 border-style: solid;
 text-align: center;
 color: white;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 0px;
 line-height: 0px;
 border: none;
 cursor: pointer;
 transition: opacity 0.15s;
}
.up-button:hover{
 opacity: 0.8;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.up-button:active{
 opacity: 0.4;
}
/* header section */
.contenaier{
 display: flex;
 width: 1126px;
 height: 496px;
 display: flex;
 justify-content: center;
 margin-top: 30px;
 margin-left: 145px;
 margin-right: 125px;
}
.left-sec-header{
 width: 518px;
 height: 331px;
 margin-top: 83px;
}
.h1{
 font-family: Poppins;
 font-size: 44px;
 font-weight: bold;
 letter-spacing: 0px;
 line-height: 54px;
 color: #2F281E;
}
.info-header{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
 font-weight: normal;
 letter-spacing: 0px;
 line-height: 28px;
 color: #544837;
 margin-top: 30px;
 width: 458px;
 height: 95px;
 padding-bottom: 45px;
 padding-right: 63px;
}
.text-get-button{
 color: #FFFFFF;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 0px;
}
.get-button{
 height: 53px;
 width: 175px;
 background-color: #FF9900;
 border-radius: 4px;
 border-style: none;
 text-align: center;
 cursor: pointer;
 transition: opacity 0.15s;
}
.get-button:hover{
 opacity: 0.8;
 box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
}
.get-button:active{
 opacity: 0.4;
}
.icon-watch-button{
 height:17px;
 width: 20px;
 padding-right: 8.5px;
}
.Watch-button-header{
 background-color: #F2F2F2;
 width: 161px;
 height: 23px;
 border: none;
 text-align: center;
 margin-left: 30px;
 transition: opacity 0.15s;
 cursor: pointer;
}
.Watch-button-header:hover{
 opacity: 0.70;
}
.Watch-button-header:active{
 opacity: .80;
}
.text-watch-button{
 width: 135px;
 font-family: 'Poppins', sans-serif;
 font-size: 14px;
 font-weight: bold;
 letter-spacing: 0px;
 color: #FF9900;
 text-decoration-line: underline;
}

/* main section1 */
  /* feature */
.featuer{
 width: 100%;
 height: 543px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 110px;
}
.h2{
 width: 539px;
 height: 108px;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}
.text-h2{
 font-family: 'Poppins', sans-serif;
 font-size: 36px;
 font-weight: bold;
 letter-spacing: 0px;
 text-align: center;
}

/*cards section*/
.featuer{
  max-width: 2211px;
  width: 100%;
  height: 543px;
  display: flex;
  justify-content: center;
}
.contenaier-featuer{
 max-width: 1095px;
 width: 100%;
 height: 204px;
 display: flex;
 justify-content:space-between;
}
.card1{
 max-width: 240px;
 width: 100%;
 height: 204px;
 order: 2;
}
.card__icon , .card__icon2 , .card__icon3 , .card__icon4{
 width: 50px;
 height: 50px;
}
.card1__title{
 font-family: 'Poppins', sans-serif;
 font-size: 22px;
 font-weight: bold;
 letter-spacing: 0px;
 line-height: 0px;
 color: #2F281E;
}
.card1__text{
 max-width: 240px;
 width: 100%;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 color: #544837;
 line-height: 26px;
 /* or 163% */
 letter-spacing: 0px;
}
.card2{
 max-width: 240px;
 width: 100%;
 height: 178px;
 order: 1;
}
.card__title2 , .card__title3 , .card__title4 {
 font-family: 'Poppins', sans-serif;
 font-size: 22px;
 font-weight: bold;
 letter-spacing: 0px;
}
.card__text2 , .card__text3 , .card__text4{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 line-height: 26px;
  /* or 163% */
 color: #544837;
}
.card3{
 max-width: 240px;
 width: 100%;
 height: 178px;
 order: -1;
}
.card4{
 max-width: 240px;
 width: 100%;
 height: 178px;
 order: -2;
}
.button-contenaier{
 width: 200px;
 height: 53px;
 display: flex;
 justify-content: center;
 margin-top: 34px;

}
.card-button{
 background-color: #FF9900;
 width: 175px;
 height: 53px;
 color: #FFFFFF;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 0px;
 border-radius: 4px;
 border: none;
 text-align: center;
 transition: 0,15s;
 cursor: pointer;
 transition: opacity 0.15s;
}
.button-contenaier:hover{
 opacity: 0.8;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.button-contenaier:active{
 opacity: 0.4;
}
/* main section2 */
.contenaier-section2{
 max-width: 2211px;
 width: 100%;
 height: 574px;
 display: flex;
}
.contenaier-fourth-mine{
 max-width: 486px;
 width: 100%;
 height: 531px;
 display: flex;
 align-items: center;
 margin-top: 120px;
 margin-left: 145px;
 margin-right: 145px;
}
.left-box-info{
 max-width: 486px;
 width: 100%;
 height: 531px;
 margin-top: 26px;
 margin-bottom: 17px;
}
.Topic-title{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 color: #544837;
 width: 186px;
 height: 24px;
 margin: 0px 0px 0px 0px;
}
.title-h3{
 font-family: 'Poppins', sans-serif;
 font-size: 36px;
 font-weight: bold;
 letter-spacing: 0px;
 color: #2F281E;
 width: 385px;
 height: 54px;
 margin: 3px 0px 0px 0px;
}
.Description-topic{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 color: #544837;
 line-height: 26px;
  /* or 163% */
 letter-spacing: 0px;
 width: 486px;
 margin: 22px 0px 30px 0px;
}
.div1-fourth {
 width: 486px;
 height: 90px;
 color: #544837;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 line-height: 26px;
  /* or 163% */
 letter-spacing: 0px;
 margin: 0px 0px 0px 0px;
 order: 3;
}
.div2-fourth {
 width: 486px;
 height: 90px;
 color: #544837;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 line-height: 26px;
  /* or 163% */
 letter-spacing: 0px;
 margin: 0px 0px 25px 0px;
 order: 2;
}
.div3-fourth{
 width: 486px;
 height: 90px;
 color: #544837;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 line-height: 26px;
  /* or 163% */
 letter-spacing: 0px;
 margin: 0px 0px 25px 0px;
 order: 1;
}
.Services1 , .Services2 ,.Services3{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 line-height: 26px;
  /* or 163% */
 letter-spacing: 0px;
 color: #2F281E;
 margin: 0px 0px 0px 0px;
}
.advertisement1 , .advertisement2 , .advertisement3{
 color: #544837;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 margin: 12px 0px 0px 0px;
}
.div-fourth-img{
 width: 520px;
 height: 574px;
 margin-left: 104px;
}
/* main section3 */
.contenaier-section3{
 max-width: 1121px;
 width: 100%;
 height: 521px;
 display: flex;
 justify-content: center;
 margin-left: 144px;
 margin-right: 135px;
 margin-top: 101px;
}
.img-div-section3{
 max-width: 535px;
 width: 100%;
 height: 521px;
}
.info-box-section3{
 max-width: 486px;
 width: 100%;
 height: 427px;
 margin-left: 100px;
 margin-top: 49px;
 margin-bottom: 45px;
 margin-right: 51px;
 display: flex;
 flex-direction: column;
}
.Topic-title-section3{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 color: #544837;
 display: flex;
 margin: 0px 0px 0px 0px;
}
.title-h4-section3{
 font-family: 'Poppins', sans-serif;
 font-size: 36px;
 font-weight: bold;
 color: #2F281E;
 margin-bottom: 22px;
}
.info-section3{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 line-height: 26px;
 /* or 163% */
 color: #544837;
 margin-bottom: 30px;
}
.Description-div1-section3 {
 width: 465px;
 height: 52px;
 display: flex;
 align-items: center;
 margin-bottom: 30px;
 order: 2;
}
.Description-div2-section3{
 width: 465px;
 height: 52px;
 display: flex;
 align-items: center;
 order: 3;
}
.Description-div3-section3 {
 width: 465px;
 height: 52px;
 display: flex;
 align-items: center;
 margin-bottom: 30px;
 order: 1;
}
.icon1-section3 , .icon2-section3 , .icon3-section3{
 width: 35px;
 height: 35px;
}
.text-description1-section3 , .text-description3-section3{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 font-weight: 500;
 /* or 163% */
 color: #544837;
 width: 385px;
 height: 52px;
 margin: 0px 0px 0px 30px;
}
.text-description2-section3{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 font-weight: 500;
  /* or 163% */
 color: #544837;
 width: 385px;
 height: 52px;
 margin: 0px 0px 0px 30px;
 order: ;
} 
/* main section4 */
.contenaier-section4{
 max-width: 1110px;
 width: 100%;
 height: 609px;
 display: inline-block;
 margin-top: 104px;
 margin-left: 147px;
 margin-right: 143px;
 position: relative;
}
.box-first-info{
 width: 609px;
 height: 181px;
 display: block;
 margin: 39px 0px 0px 0px;
}
.Topic-title-section4{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 color: #544837;
 margin: 0px 0px 0px 0px;
}
.title-h5-section4{
 font-family: 'Poppins', sans-serif;
 font-size: 36px;
 font-weight: bold;
 color: #2F281E;
 margin: 3px 0px 0px 0px;
}
.info-text-section4{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 /* or 163% */
 color: #544837;
 width: 486px;
 margin: 22px 0px 0px 0px;
}
.Description-div1-section4{
 width: 486px;
 height: 90px;
 margin-top: 30px;
}
.Description-div2-section4{
 width: 486px;
 height: 90px;
 margin-top: 25px;
}
.Description-div3-section4{
 width: 486px;
 height: 90px;
 margin-top: 25px;
 }

.Services1-section4 , .Services2-section4 , .Services2-section4 {
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 line-height: 26px;
 /* or 163% */
 color: #2F281E;
 margin: 0px 0px;
}
.Services1-section4{
 width: 153px;
 height: 26px;
}
.Services2-section4 {
 width: 112px;
 height: 26px;
}
.Services2-section4 {
 width: 121px;
 height: 26px;
 display: inline;
}
.advertisement1-section4 , .advertisement2-section4 , .advertisement3-section4{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 26px;
 /* or 163% */
 width: 486px;
 height: 52px;
 margin-top: 12px;
 margin-bottom: 0px;
}
.fourth-section4-img{
 width: 542px;
 height: 609px;
 position: absolute;
 top: 0px;
 right: 0px;
 }
 /*footer*/
 .footer-contenier{
  max-width: 1109px;
  width: 100%;
  height: 308px;
  margin-top: 146px;
  margin-right: 131px;
  margin-left: 160px;
  margin-bottom: 83px;
  display: flex;
  justify-content: space-between;
 }
 .div-logo-footer{
 max-width: 184.35px;
 width: 100%;
 height: 31.87px;
 margin-top: 101.67px;
 }
 .icon-footer{
  width: 30px;
  height: 29.9px;
 }
 .icon-productly-footer{
  width: 142.35px;
  height: 28.88px;
 }
 .input-div{
  max-width: 325px;
  width: 100%;
  height: 198.35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 4;
  margin-top: 101.67px;
 }
 .input-form{
 width: 325px;
 height: 47.84px;
 margin-bottom: 20.93px;
 border-radius: 4px;
 border: none;
 }
 .input-button{
 width: 131px;
 height: 38.87px;
 background-color: #FF9900;
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
 font-weight: bold;
 text-align: center;
 color: #FFFFFF;
 border: none;
 transition: 0,15s;
 cursor: pointer;
 transition: opacity 0.15s;
}
.input-button:hover{
 opacity: 0.8;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.input-button:active{
 opacity: 0.4;
}
.div1-footer{
  max-width: 132px;
  width:100%;
  height: 204.33px;
  order: 3;
  margin-top: 101.67px;
}
.footer-ul1{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 132px;
 height: 140px;
 margin: 0px 0px 0px 0px;
}
footer ul li{
  width: 132px;
  height: 16px;
}
footer ul li a{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 35px;
   /* or 212% */
   letter-spacing: 0px;
}
.div2-footer{
  max-width: 118px;
  width: 100%;
  height: 204.33px; 
  order: 2;
  margin-top: 101.67px;
}
.footer-ul2{
  width: 72px;
  height: 140px;;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul2 li {
  height: 72px;
  width: 140px;;
}
.ul2 li a{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 35px;
   /* or 212% */
   letter-spacing: 0px
}
/* end */